/.idea/
/app/.externalNativeBuild/
/.gradle/
/local.properties
/gradle.properties
/opencv/
/app/debug
/app/build
/app/release
/app/.cxx/
/captures
/app/libs/arm64-v8a/
/app/src/main/java/com/thundercomm/eBox/VIew/PlayFragment2.java
/app/src/main/java/com/thundercomm/eBox/Gl/MyRenderListener.java
/app/src/main/java/com/thundercomm/eBox/Gl/MyRender.java
/app/src/main/java/com/thundercomm/eBox/Gl/MyGlSurfaceView2.java
/app/src/main/java/com/thundercomm/eBox/Activity/Main2Activity.java
/app/src/main/res/layout/fragment_play2.xml
/app/src/main/res/layout/activity_main2.xml
app/libs/thingsboard/

